{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
   <section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                    style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">We are The Lotus Team</h4>
                </div>

                  <p>Please register</p>

                {{ form_start(registrationForm) }}
                <div class="form-outline mb-4">
                  {{ form_row(registrationForm.email) }}
                  </div>
                  <div class="form-outline mb-4">
                  
                  {{ form_row(registrationForm.pseudo) }}
                  </div>
                  <div class="form-outline mb-4">

                  {{ form_row(registrationForm.plainPassword, 
                      {label: 'Password'}) }}
                  </div>
                
                {# {{ form_row(registrationForm.agreeTerms) }} #}
                
                <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}">

                <button type="submit" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3">Register</button>
              
                {{ form_end(registrationForm) }}
                <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                    <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                        <h4 class="mb-4">We are more than just a company</h4>
                            <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                             exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

