{% extends 'base.html.twig' %}


{% block title %}jeu du click!{% endblock %}

{% block body %}

 {% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/scores_post.js') }}"></script>
{% endblock %}
<script>
let nbClicks = 0;
let jouer = false;


function play(){
    console.log('play');
    jouer = true;
    setTimeout(stop, 10000);

}

function stop(){
    jouer = false;
    console.log('stop');
    console.log(nbClicks);


     var afficheScore = document.getElementById('score');
    afficheScore.innerHTML ='score:'+ nbClicks;
    // const valeurScore= nbClicks;

    var req = new XMLHttpRequest();

    req.open("POST",{{ path('scores_post') }},true);
    req.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
    req.send({valeurScore: nbClicks})
    req.onreadystatechange = function(){
    if ((req.readyState === 4) && (req.status === 200)) {
                //on affiche dans le html la réponse de la requête cf traitementAjax
               console.log(req.responseText );

            }
            else if (this.readyState == 4 && this.status == 404) {
                    alert('Erreur 404 :/');
            }
        }    

}

function incrementer(){
    if (jouer == true){
        nbClicks++;
        console.log(nbClicks);
       
        }
    else{
        alert('La partie est fini.Veuillez cliquer sur start pour commencer à jouer');
        }
}
</script>


<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! </h1>
    <div id="score"></div>
    <button onclick="play()">Play</button>
    <img id="carre" src="{{asset('build/images/carre.37f4d25f.svg') }}" onclick="incrementer()"/>
</div>


{% endblock %}
