<div id="header" >
    <h2>Le jeu du click!</h2>
    {% if app.user %}
    <div class="d-flex">
        <a href="{{ path('app_home') }}"> <button class="btn bg-primary m-2">Accueil</button></a>
        <a href="{{ path('app_logout') }}" ><button class="btn bg-primary m-2">Se déconnecter</button></a>
        <a href="{{ path('app_jeu') }}" ><button class="btn bg-primary m-2">Jouer</button></a>
     {% endif %}
    </div>
</div>